INFO_EMAIL=""
INFO_CHANNEL=""
URL_LOGO="https://make.opendata.ch/files/2013/01/Make.OpenData.ch-Logo1.png"
URL_CERTS=""
URL_RESULTS="https://hack.opendata.ch"
URL_SOCIAL="https://twitter.com/opendatach"